.list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid; /* современная раскладка */
    gap: 1.6rem; /* расстояние между карточками */

    grid-template-columns: repeat(
        auto-fit,
        minmax(320px, 1fr)
    ); /* адаптивная сетка */

    align-items: stretch;
}
